@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --background: hsl(216, 12%, 8%);
    --card: #1f2630;
    --text: hsl(0, 0%, 100%);
    --paragraph: hsl(217, 12%, 63%);
    --icon-background: hsl(213, 19%, 18%);
    --button: hsl(25, 97%, 53%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: var(--background);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text);
}
.card{
    position: absolute;
    width: 415px;
    background: var(--card);
    padding: 35px;
    border-radius: 40px;
    flex-direction: column;
    justify-content: center;
    display: none!important;
}
.card.active{
    display: flex!important;
}
.rating-card .icon{
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--icon-background);
    margin-bottom: 30px;
}
.title{
    font-weight: 500;
    margin-bottom: 16px;
}
.message{
    color: var(--paragraph);
    word-wrap: normal;
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 26px;
}
.rating-card .rates{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.rating-card .rates .btn-rate{
    border: none;
    color: var(--paragraph);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.rating-card .rates .btn-rate:hover{
    background: var(--paragraph);
    color: var(--text);
}
.rating-card .rates .btn-rate:active, .rating-card .rates .btn-rate:focus{
    background: var(--button)!important;
    color: var(--text);
}
.rating-card .submit{
    width: 100%;
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 22.5px;
    background: var(--button);
    color: var(--text);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.rating-card .submit:hover{
    background: var(--text);
    color: var(--button);
}
.thank-you-card{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.thank-you-card .icon{
    margin-top: 10px;
}
.thank-you-card .info{
    padding: 6px 18px;
    background: var(--icon-background);
    color: var(--button);
    font-size: 14px;
    border-radius: 15px;
    margin: 30px 0px;
}
.thank-you-card .message{
    margin-bottom: 0;
}
.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:375px) {
    .card{
        width: 325px;
        padding: 25px;
        border-radius: 20px;
    }
    .title{
        font-size: 24px;
    }
    .message{
        font-size: 14px;
    }
    .rating-card .icon{
        width: 40px;
        height: 40px;
    }
}